<!DOCTYPE html>
<html>
    <head>
        <title>Student Data</title>
    </head>
    <body>
        <div><h1>Student Details</h1></div>
        <div>
            <table border = "2" id="student-details-table">
                <tr>
                    <th>Student id</th>
                    <th>Course id</th>
                    <th>Marks</th>
                </tr>
                
                {% for line in imp_data %}
                    <tr>
                        <td>{{ line[0] }}</td>
                        <td>{{ line[1] }}</td>
                        <td>{{ line[2] }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan = "2" style="text-align: center;">Total Marks</td>
                    <td> {{ total_mrks }} </td>
                </tr>
            </table>
        </div><br><br>
        <div>
            <a href="/">Go Back</a>
        </div>
    </body>
</html>