#page {
    background-color : #fdfdbb; 
    color: #000000;
}

a {
    color: #ff0000;
    text-decoration: none;
}

h1 {
    width: 100%;
    text-align: center;
}

#link {
    margin-left: 45.5%;
}

h5 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}